body {
  font-family: Arial, sans-serif;
  background-color: #f8f8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

form {
  box-sizing: content-box;
  width: 100%;
}

.form_content {
  padding: 30px;
  width: 1320px;
}

.form_content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form_content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  width: 90%;
  padding: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
  border-color: #f5c745;
}

.input-aceite {
  display: flex;
  flex-direction: row;
  height: max-content;
  align-items: stretch;
  margin-bottom: 30px;
}

.input-aceite input[type="checkbox"] {
  width: 17px;
}

.input-aceite p {
  margin-top: 0px;
  margin-bottom: 0px;
}

form button {
  background-color: #f5c745;
  color: #222;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
form button:hover {
  background-color: #e0b83e;
}
